<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pro Scheduler</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>

<body>

    <section class="hero is-info is-medium">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="title" href="{% url 'ScheduleApp:index'%}">
                            Pro Scheduler
                        </a>
                    </div>
                    <div class="navbar-end">
                        <div class="is-right">
                            <a class="navbar-item" href="{% url 'ScheduleApp:index'%}">
                                <span class="icon">
                                    <i class="fa fa-home"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="subtitle">
                    <span>{{ date.day_date }}</span>
                </p>
                <a class="button is-danger is-large" href="{% url 'ScheduleApp:deleteday' date.id %}">
                    <span class="icon">
                        <i class="far fa-calendar-times"></i>
                    </span>
                    <span>Delete day</span>
                    </span>
                </a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="box">
                <form class="add_task" action="{% url 'ScheduleApp:addtask' date.id %}" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Task</label>
                        <div class="control has-icons-left">
                            <span class="icon is-small is-left">
                                <i class="fas fa-tasks"></i>
                            </span>
                            <input class="input" type="text" name="Task" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">

                            <input class="button is-link" type="submit" value="Add task" />
                        </div>
                    </div>

                </form>
            </div>
            {% if date.tasks.count > 0 %}

            <div class="columns is-multiline">
                {% for task in date.tasks.all%}
                <div class="column">
                    <div class="card">
                        <header class="card-header">

                            <p class="card-header-title">{{task.task_text}}</p>

                        </header>

                        <footer class="card-footer">
                            <a class="card-footer-item has-text-danger" href="{% url 'ScheduleApp:deletetask' task.id %}">Delete</a>
                        </footer>
                    </div>
                </div>
                {% endfor %}

            </div>

            {% else %}

            <div class="notification is-danger">
                No tasks for that day...
            </div>

            {% endif %}

        </div>
    </section>
</body>

</html>